body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
input{
  border-radius:5px;
}
h1{
  margin:20px;
  color:#323f4b;
   font-size:20px;
font-weight: bold;
}
.submit-btn{
  color:#ffffff;
  font-size:14px;
  background-color:blue;
  padding:0px 20px 0px 20px;
  height:30px;
  width:60px;
  border-radius: 4px;
  font-weight: 300;
}
button{
  color:#ffffff;
   font-size:14px;
  background-color:#f3458f;
text-align: center;
padding:10px;
  height:35px;
  width:60px;
  border-radius: 4px;
font-weight: 300;
}
card{
  justify-content: center;
  align-items: center;
}
.input-box{
  height:25px;
  width:200px;
}